<div class="row playback-current row-margin-medium">
	<div id="apiswf"></div>
	<div class="playback-current-content columns large-8 large-centered small-12 small-centered">
		<ul class="large-block-grid-2 small-block-grid-2">
			<li class="small-4 large-6">
				<div class="album">
					<img src="<%= image_url 'album-placeholder.jpg' %>" id="art">
				</div>
			</li>
			<li class="small-8 large-6">
				<h3 id="track">Track</h3>
				<h5 id="artist">Artist</h5>
				<h6 id="album">Album</h6>
				<dl style="display: none;">
				  <dt>playState</dt>
				  <dd id="playState"></dd>
				  <dt>Position</dt>
				  <dd id="position"></dd>
				</dl>
			</li>
		</ul>
	</div>
	<div class="loading">
		<h4 class="text-center">Loading...</h4>
	</div>
</div><!-- /.playback-current -->

<div class="row playback-controls row-margin-medium text-center">
	<input id="play_key" value="a171827"><br />
	<span id="previous" class="ll_record">z</span>
	<span id="stop" class="ll_record">v</span>
	<span id="play" class="ll_record">u</span>
	<span id="pause" class="ll_record">x</span>
	<span id="next" class="ll_record">{</span>
</div><!-- /.playback-controls -->

<div class="row">
	<div id="freq">
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	</div>

	<div id="upsell">
	  <div id="subscriber">You are an Rdio subscriber. You're awesome.</div>
	  <div id="trial">You are an Rdio trial user, Subscribe now!</div>
	  <div id="free">You are an Rdio Free user with <span id="remaining"></span>% of your quota remaining, subscribe now!</div>
	  <div id="nobody">To hear full tracks subscribe to Rdio.</div>
	</div>
</div>
