// Place all the styles related to the Playback controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#freq div {
  height: 10px;
  background-color: red;
}
#upsell div {
  display: none;
}