// Place all the styles related to the Playback controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#freq div {
  height: 10px;
  background-color: red;
}

#upsell div {
  display: none;
}

.playback-current {
	position: relative;

	.playback-current-content {
		opacity: 0.05; // Allow playback to fade in once songs begin playing
		-khtml-opacity: 0.05;
		-moz-opacity: 0.05;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";

		.album {
			-webkit-transform: perspective(750px) rotateY(15deg);
		}
	}

	.loading {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;

		h1, h2, h3, h4, h5, h6 {
			margin-top: 3em;
		}
	}
}